version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo-rs
    command: mongod --replSet rs0 --bind_ip_all
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
